# Token de verificación que defines tú mismo y configuras también en Meta Developers
VERIFY_TOKEN=token_de_verificacion_para_meta

# Token de acceso de la app de WhatsApp Cloud API (Meta)
WHATSAPP_TOKEN=token_de_meta

# ID del número de WhatsApp Cloud API
PHONE_NUMBER_ID=id_del_numero_de_whatsapp_cloud_api

# ID del Flow creado en WhatsApp Manager
FLOW_ID=id_del_flow_creado_en_whatsapp_manager

# ID técnico de la pantalla inicial del Flow
FLOW_SCREEN_ID=id_tecnico_de_la_pantalla_inicial_del_flow

# Versión de la Graph API
GRAPH_API_VERSION=v23.0
